.upload-item{id: "uploadItem-#{item_image.id}"}
  .upload-item__container
    %figure
      = image_tag item_image.image.url, class: "upload-item__container__image", id: "uploadImage-#{item_image.id}"
    .upload-item__container__button{id: "upButton-#{item_image.id}"}
      %a.upload-item__container__button__edit{"data-id": "#{item_image.id}"} 編集
      %a.upload-item__container__button__delete{"data-id": "#{item_image.id}"} 削除
