.single-container
  = render "layouts/single-header"
  .single-main
    .single-main-container
      %h2.single-main-container__head 会員登録完了
      .right-continer__inner
        .form-groups
          %p.text-center
            ありがとうございます。
            %br.text-center
              会員登録が完了しました。
          = link_to "メルカリをはじめる", root_path, id: "last-submit", class: "btn-default button-red"
      .aside
        .aside__banner-complete
          .aside__banner__inner
            %h2#font-title__size \スマホでかんたんフリマアプリ/
            %p#font-subtitle__size 今すぐ無料ダウンロード！
            .aside__banner__inner__icon
              = image_tag "mercari_icon.png"
              .aside__banner__inner__icon__app
                = link_to image_tag("app-store.svg"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
                = link_to image_tag("google-play.svg"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
          = image_tag "download_content_pc.png", class: "aside__banner__image"

  = render 'layouts/single-footer'
  %script{src: "https://apis.google.com/js/platform.js?onload=renderButton", async: "defer"}






