.single-container
  .single-header
    = link_to image_tag("logo.svg"), "/"
    .signup-container.signup-container__user
      %header.signup-header
        .signup-header__progress
          .progress
            .progress__node
              .progress__title#progress--first.red 会員情報
              .progress__dot
                .fas.fa-circle.circle-first.red
                .progress__line#first-line.progress-twe.red
            .progress__node
              .progress__title#progress--second.progress-twe.red 電話番号確証
              .progress__dot
                .fas.fa-circle#circle-second.progress-twe.red
                .progress__line#second-line.progress-three.red
            .progress__node
              .progress__title#progress--thired.progress-three.red 住所入力
              .progress__dot
                .fas.fa-circle#circle-thired.progress-three.red
                .progress__line#thired-line.progress-four.red
            .progress__node
              .progress__title#progress--fourth.progress-four.red 支払い方法
              .progress__dot
                .fas.fa-circle#circle-fourth.progress-four.red
                .progress__line#fourth-line.progress-five.red
            .progress__node
              .progress__title#last-title.progress-five.red 完了
              .progress__dot
                .fas.fa-circle.circle-last.progress-five.red
  .single-main
    .single-main-container
      %h2.single-main-container__head 会員登録完了
      .right-continer__inner
        .form-groups
          %p.text-center
            ありがとうございます。
            %br.text-center
              会員登録が完了しました。
          = link_to "メルカリをはじめる", root_path, id: "last-submit", class: "btn-default button-red"
      .aside
        .aside__banner-complete
          .aside__banner__inner
            %h2#font-title__size \スマホでかんたんフリマアプリ/
            %p#font-subtitle__size 今すぐ無料ダウンロード！
            .aside__banner__inner__icon
              = image_tag "mercari_icon.png"
              .aside__banner__inner__icon__app
                = link_to image_tag("app-store.svg"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
                = link_to image_tag("google-play.svg"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
          = image_tag "download_content_pc.png", class: "aside__banner__image"

  = render 'layouts/single-footer'
  %script{src: "https://apis.google.com/js/platform.js?onload=renderButton", async: "defer"}






