.single-container
  .single-header
    %h1
      = link_to image_tag("logo.svg"), "/"

  .single-main
    .single-main-container
      %h2.single-main-container__head 新規会員登録
      .single-main-container__inner
        .single-main-container__inner--content
          = link_to "" ,class: 'btn-default btn-mail' do
            メールアドレスで登録
            %i.far.fa-envelope
          = link_to "" ,class: 'btn-default btn-sns btn-sns-facebook' do
            Facebookで登録
            %i.fab.fa-facebook
          = link_to "" , class: 'btn-default btn-sns btn-sns-google' do
            Googoleで登録
            %i.fab.fa-google.google.icon
  = render 'footer'
