.single-container
  = render "layouts/single-header"
  .single-main
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .single-main-container
      %h2.single-main-container__head 会員情報入力
      = f.fields_for :user_profile do |p|
        .right-continer__inner
          .form-groups
            .form-group__first
              %label{for: "nickname"} ニックネーム
              %span 必須
              = p.text_field :nickname, class: "input-default", placeholder: "例) メルカリ太郎"
            .form-group
              %label{for: "email"} メールアドレス
              %span 必須
              = f.email_field :email, class: "input-default", placeholder: "例) PC・携帯どちらでも可"
            .form-group
              %label{for: "password"} パスワード
              %span 必須
              = f.password_field :password, class: "input-default", placeholder: "例) 6文字以上"
            .form-group
              %label{for: "confirmation password"} パスワード(確認)
              %span 必須
              = f.password_field :confilmation_password, class: "input-default", placeholder: "例) 6文字以上"
            .form-group
              %label{for: "identification"} 本人確認
              %p.font-size-small
                安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
            .form-group
              %label{for: "last_name"} 姓 (全角)
              %span 必須
              = p.text_field :last_name, class: "input-default", placeholder: "例) 山田"
            .form-group
              %label{for: "first_name"} 名 (全角)
              %span 必須
              = p.text_field :first_name, class: "input-default", placeholder: "例) 彩"
            .form-group
              %label{for: "last_name_kana"} 姓カナ (全角)
              %span 必須
              = p.text_field :last_name_kana, class: "input-default", placeholder: "例) ヤマダ"
            .form-group
              %label{for: "first_name_kana"} 名カナ (全角)
              %span 必須
              = p.text_field :first_name_kana, class: "input-default", placeholder: "例) アヤ"
            .form-group-year
              %label{for: "birthday"} 生年月日
              %span 必須
              .select-wrap-birthday.select-wrap
                = p.select :birth_y, User.years.keys, prompt: "--"
                %i.fas.fa-angle-down.font-color-gray#birthday
                %p.birthday.font-size-small 年
              .select-wrap-birthday.select-wrap
                = p.select :birth_m, User.months.keys, prompt: "--"
                %i.fas.fa-angle-down.font-color-gray#birthday
                %p.birthday.font-size-small 月
              .select-wrap-birthday.select-wrap
                = p.select :birth_d, Brand.days.keys, prompt: "--"
                %i.fas.fa-angle-down.font-color-gray#birthday
                %p.birthday.font-size-small 日
            %p.font-color-gray.font-size-small
              ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
            .form-group
              %p.font-size-small
                「次へ進む」のボタンを押すことにより、
                = link_to "利用規約", "/", id: "font-color-blue"
                に同意したものとみなします
            = f.submit "次へ進む", class: "btn-default button-red"
            .form-group.text-right
              = link_to 'https://www.mercari.com/jp/help_center/article/423/', id: "font-color-blue", target: "_blank" do
                本人確認書類の登録について
                %i.fa.fa-chevron-right


  = render 'layouts/single-footer'
  %script{src: "https://apis.google.com/js/platform.js?onload=renderButton", async: "defer"}
