.container
  = render "layouts/header"
  .main-background
    .left-content
      = render "modules/mypage-side-navi"
      .card__content
        .card__content__top
          支払い方法
        .card__conte1nt__middle
          .card__content__middle__text
            クレジットカード一覧
          .card__content__middle__btn
            .card__content__middle__btn__text
              %i.fas.fa-credit-card
              クレジットカードを登録する
          .card__content__middle__bottom
            = link_to "#", target: "blank", class: "card__content__middle__bottom__link" do
              #card__span 支払い方法について
              %i.fas.fa-angle-right
  = render "layouts/aside"
  = render "layouts/footer"
  = render "layouts/sell-button"
