.container
  = render "layouts/header"
  .main-background
    = render "modules/mypage-side-navi"
  .aside
    .aside__banner
      = image_tag "banner_bottom_tmp.jpg", class: "aside__banner__image banner"
  = render "layouts/footer"
  = render "layouts/sell-button"
