//パンくずリスト
- breadcrumb :mypage

= render "layouts/header"


%main.l-container
  .l-container__mypage
    = render "modules/mypage-side-navi"
    = render "modules/mypage-top"



.aside
  .aside__banner
  = image_tag "banner_bottom_tmp.jpg", class: "aside__banner__image banner"
  = render "layouts/footer"
  = render "layouts/sell-button"

= render "layouts/aside"
= render "layouts/footer"
= render "layouts/sell-button"

