/パンくず
- breadcrumb :logout

.container
  = render "layouts/header"
  .main-background
    .left-content
      = render "modules/mypage-side-navi"
      .logout__content
        .logout__content__btn
          ログアウト
  = render "layouts/aside"
  = render "layouts/footer"
  = render "layouts/sell-button"
