.mypage
  %main.mypage__body.clearfix

    .mypage__body__main
      %section.mypage-user-icon
        = link_to "#" do
          %figure
            = image_tag "no-translate-detected_318-10541.jpg", alt: "ユーザーアイコン", alt: "ユーザーアイコン", height: "60", width: "60"
          %h2
            ユーザー名
          .mypage-number
            %p
              評価
              %span 0
            %p.right
              出品数
              %span 0

      %section.mypage-tab-notification-todo
        %ul.mypage-tabs
          %li.notification
            %h3
              = link_to "#" do
                お知らせ
          %li.todo
            %h3
              = link_to "#" do
                やることリスト
        .tab-content
          %ul.notification-list
            %li
              = link_to "#", class: "notification-list__link" do
                %figure
                  = image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "メルカリロゴ"
                .notification-list__body
                  .notification-list__body__text【7日間限定】10人に1人最大P6,000もらえるキャンペーン開始
                  %time
                    = fa_icon "clock-o"
                    %span 19 時間前
                = fa_icon "angle-right"
            %li
              = link_to "#", class: "notification-list__link" do
                %figure
                  = image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "メルカリロゴ"
                .notification-list__body
                  .notification-list__body__text 事務局から個別メッセージ「ログイン通知」
                  %time
                    = fa_icon "clock-o"
                    %span, 1 日前
                = fa_icon "angle-right"
            %li
              = link_to "#", class: "notification-list__link" do
                %figure
                  = image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "メルカリロゴ"
                .notification-list__body
                  .notification-list__body__text 事務局から個別メッセージ「ログイン通知」
                  %time
                    = fa_icon "clock-o"
                    %span 1 日前
                = fa_icon "angle-right"
            %li
              = link_to "#", class: "notification-list__link" do
                %figure
                  = image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "メルカリロゴ"
                .notification-list__body
                  .notification-list__body__text 事務局から個別メッセージ「【重要】新サービス開始に伴う利用規約改訂のお知らせ」
                  %time
                    = fa_icon "clock-o"
                    %span 16 日前
                = fa_icon "angle-right"
            %li
              = link_to "#", class: "notification-list__link" do
                %figure
                  = image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "メルカリロゴ"
                .notification-list__body
                  .notification-list__body__text 【あと3日】対象カテゴリーが売れたら“必ず“ポイントがもらえるキャンペーン開催中
                  %time
                    = fa_icon "clock-o"
                    %span 21 日前
                = fa_icon "angle-right"
            %li.notification-list__all
              = link_to "#" do
                一覧を見る

      %section.mypage-tab-trading-traded
        %h2.mypage-tab-head 購入した商品
        %ul.mypage-tabs
          %li.trading
            %h3
              = link_to "#" do
                取引中
          %li.traded
            %h3
              = link_to "#" do
                過去の取引
        .tab-content
          .traded-list
            %figure
              = image_tag "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", alt: "メルカリロゴ"
            .traded-list__not-found 取引中の商品がありません

