.left-content__bar
  %nav.mypage-navigation
    %ul.mypage-nav__list
      %li#first__list
        = link_to users_path, class: "mypage-nav__list__item" do
          マイページ
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          お知らせ
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          やることリスト
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          いいね！一覧
          %i.fa.fa-chevron-right
      %li
        = link_to  new_item_path, class: "mypage-nav__list__item" do
          出品する
          %i.fa.fa-chevron-right
      %li
        = link_to onsale_user_items_path(current_user), class: "mypage-nav__list__item" do
          出品した商品-出品中
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          出品した商品-取引中
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          出品した商品-売却済み
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          購入した商品-取引中
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          購入した商品-過去の取引
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          ニュース一覧
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          評価一覧
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          ガイド
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          お問い合わせ
          %i.fa.fa-chevron-right
  .left-content__bar
    %h4.mypage-nav__head メルペイ
    %ul.mypage-nav__list
      %li#first__list
        = link_to "", class: "mypage-nav__list__item" do
          売上・振込申請
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          ポイント
          %i.fa.fa-chevron-right
  .left-content__bar
    %h4.mypage-nav__head 設定
    %ul.mypage-nav__list
      %li#first__list
        = link_to edit_user_profile_path(current_user), class: "mypage-nav__list__item" do
          プロフィール
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          発送元・お届け先住所変更
          %i.fa.fa-chevron-right
      %li
        = link_to  card_users_path, class: "mypage-nav__list__item" do
          支払い方法
          %i.fa.fa-chevron-right
      %li
        = link_to "", class: "mypage-nav__list__item" do
          メール/パスワード
          %i.fa.fa-chevron-right
      %li
        = link_to edit_address_path(current_user), class: "mypage-nav__list__item" do
          本人情報
          %i.fa.fa-chevron-right
      %li
        = link_to phone_users_path, class: "mypage-nav__list__item" do
          電話番号の確認
          %i.fa.fa-chevron-right
      %li
        = link_to logout_users_path, class: "mypage-nav__list__item" do
          ログアウト
          %i.fa.fa-chevron-right
