.single-container
  .single-header
    %h1
      =link_to image_tag("logo.svg"),"/"
  .single-main
    .single-main__l.panel
      .single-main__l.panel--new
        %p アカウントをお持ちでない方はこちら
        =link_to '新規登録会員', new_user_registration_path
      .single-main__l.panel-sns
        = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-facebook", method: :get
        = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, class: "btn-default btn-sns btn-sns-google", method: :get
      .single-main__l.panel-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, class: 'email-box'
          = f.password_field :password, autocomplete: "off", class: 'password-box'
          = recaptcha_tags
          = f.submit "ログイン", class: "login-submit btn-default btn-red"
          = link_to 'パスワードをお忘れの方', "", class: "owasure"
  = render "layouts/single-footer"

