.single-container
  .single-header
    %h1
      =link_to image_tag("logo.svg"),"/"
  .single-main
    .single-main__l.panel
      .single-main__l.panel--new
        %p アカウントをお持ちでない方はこちら
        =link_to '新規登録会員',""
      .single-main__l.panel-sns
        =link_to "", class: 'btn-default btn-sns btn-sns-facebook' do
          Facebookで登録
          %i.fab.fa-facebook
        =link_to "", class: 'btn-default btn-sns btn-sns-google' do
          Googleで登録
          %i.fab.fa-google
      .single-main__l.panel-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = f.email_field :email, class: 'email-box'
          = f.password_field :password, autocomplete: "off", class: 'password-box'
          = f.submit "ログイン", class: "login-submit btn-default btn-red"
  = render "layouts/single-footer"
