/パンくず
- breadcrumb :identification

.container
  = render "layouts/header"
  .main-background
    .left-content
      = render "modules/mypage-side-navi"
      .right-identity-information
        %section.right-continer
          %h2.right-continer__head 本人情報の登録
          %form{action: "https://www.mercari.com/jp/mypage/identification/save/", method: "POST", class: "right-continer__inner"}
            .form-group__first
              %p
                お客さまの本人情報をご登録ください。
                %br
                登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
              %p.text-right
                = link_to 'https://www.mercari.com/jp/help_center/article/495/', target: "_blank" do
                  本人確認書類のアップロードについて
                  %i.fa.fa-chevron-right
            .form-group
              %label お名前
              %p #{current_user.user_profile.first_name} #{current_user.user_profile.last_name}
            .form-group
              %label お名前カナ
              %p #{current_user.user_profile.first_name_kana} #{current_user.user_profile.last_name_kana}
            .form-group
              %label{for: "birthday"} 生年月日
              %p #{current_user.user_profile.birth_y}年#{current_user.user_profile.birth_m}月#{current_user.user_profile.birth_d}日
            .form-group
              %label{for: "zip_code"} 郵便番号
              %span.form-arbitrary 任意
              %input{type: "text", class: "input-default", placeholder: "例) 1234567"}
            .form-group
              %label{for: "prefecture"} 都道府県
              %span.form-arbitrary 任意
              .select-wrap
                = collection_select :person, :prefecture_id, Prefecture.all, :id, :name
                %i.fas.fa-angle-down
            .form-group
              %label{for: "city"} 市区町村
              %span.form-arbitrary 任意
              %input{type: "text", class: "input-default", placeholder: "例) 横浜市緑区"}
            .form-group
              %label{for: "address1_label"} 番地
              %span.form-arbitrary 任意
              %input{type: "text", class: "input-default", placeholder: "例) 青山1-1-1"}
            .form-group
              %label{for: "address2_label"} 建物名
              %span.form-arbitrary 任意
              %input{type: "text", class: "input-default", placeholder: "例) 柳ビル103"}
            %input{type: "submit", value: "登録する", class: "btn-default btn-red form-group"}
            .form-group.text-right
              = link_to 'https://www.mercari.com/jp/help_center/article/423/', target: "_blank" do
                本人確認書類の登録について
                %i.fa.fa-chevron-right
  = render "layouts/aside"
  = render "layouts/footer"
  = render "layouts/sell-button"


