- content_for :head do
  %meta{name: "turbolinks-cache-control", content: "no-cache"}
.container
  = render "layouts/header"
  = render "carousel"
  .main
    %h2 ピックアップカテゴリー
    .pickup-box
      %h3
        = link_to "レディース新着アイテム", category_path(1)
      .pickup-box__items
        = render @ladies
    .pickup-box
      %h3
        = link_to "メンズ新着アイテム", category_path(2)
      .pickup-box__items
        = render @mens
    .pickup-box
      %h3
        = link_to "ベビー・キッズ新着アイテム", category_path(3)
      .pickup-box__items
        = render @kids
    %h2 ピックアップブランド
    .pickup-box
      %h3
        = link_to "ジャネル新着アイテム"
      .pickup-box__items
        = render @janel
    .pickup-box
      %h3
        = link_to "ルイビトン新着アイテム"
      .pickup-box__items
        = render @biton
    .pickup-box
      %h3
        = link_to "シュリンプ新着アイテム"
      .pickup-box__items
        = render @shrimp
    .pickup-box
      %h3
        = link_to "マイキ新着アイテム"
      .pickup-box__items
        = render @mike
  = render "layouts/aside"
  = render "layouts/footer"
  = render "layouts/sell-button"
