- breadcrumb :onsale

= render "layouts/header"

%main.l-container
  .l-container__mypage
    = render "modules/mypage-side-navi"
    %h1 工事中

= render "layouts/aside"
= render "layouts/footer"
= render "layouts/sell-button"
