.container
  = render "layouts/header"
  .main-background
    %section.item-box-container
      %h1
        .item-name
          = @item.name
      .item-main-content
        .item-photo
          = image_tag @item.item_images[0].image.url, class: "item-image active"
          - if @item.item_images.second.present?
            = image_tag @item.item_images[1].image.url, class: "item-image"
          - else
            .noneimage
          - if @item.item_images.second.present?
            = image_tag @item.item_images[2].image.url, class: "item-image"
          - else
            .noneimage
          - if @item.item_images.second.present?
            = image_tag @item.item_images[3].image.url, class: "item-image"
          - else
            .noneimage
          .owl-dots
            .owl-dot
              .owl-dot-inner#hover
                - if @item.item_images.second.present?
                  = image_tag @item.item_images[0].image.url, class: "item-box__images"
                - else
                  .noneimage
            .owl-dot
              .owl-dot-inner
                - if @item.item_images.second.present?
                  = image_tag @item.item_images[1].image.url, class: "item-box__images"
                - else
                  .noneimage
            .owl-dot
              .owl-dot-inner
                - if @item.item_images.third.present?
                  = image_tag @item.item_images[2].image.url, class: "item-box__images"
                - else
                  .noneimage
            .owl-dot
              .owl-dot-inner
                - if @item.item_images.fourth.present?
                  = image_tag @item.item_images[3].image.url, class: "item-box__images"
                - else
                  .no-image
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "<user_profile.name>", "/", class: "user-name-string";
                .item-user-ratings
                  .item-user-rating
                    %i.fas.fa-laugh
                    %span 555
                  .item-user-rating
                    %i.fas.fa-meh
                    %span 24
                  .item-user-rating
                    %i.fas.fa-frown
                    %span 2
            %tr
              %th カテゴリー
              %td
                = link_to "/" do
                  .item-detail-table-sub
                    = @item.category.parent.name
                = link_to "/" do
                  .item-detail-table-sub__sub
                    %i.fas.fa-angle-right
                    = @item.category.parent.parent.name
                = link_to "/" do
                  .item-detail-table-sub__sub__sub
                    %i.fas.fa-angle-right
                    = @item.category.parent.parent.name
            %tr
              %th ブランド
              %td
                = link_to "/" do
                  .brand-name
                    - if @item.brand_id.present?
                      = @item.brand.name
                    - else
                      .no-name
            %tr
              %th 商品の状態
              %td
                .item-detail
                  = @item.condition
            %tr
              %th 配送料の負担
              %td
                .item-detail
                  = @item.shipping_fee
            %tr
              %th 配送の方法
              %td
                .item-detail らくらくメルカリ便
            %tr
              %th 発送元地域
              %td
                .item-detail.prefecture-name
                  = @item.prefecture.name
            %tr
              %th 配送日の目安
              %td
                .item-detail
                  = @item.days_to_ship

      .item-price-box
        %span.item-price
          ¥ #{@item.price}
        %span.item-tax (税込)
        %span.item-shipping-fee
          - if @item.shipping_fee=="送料込み(出品者負担)"
            送料込み
          - else
            着払い

      = link_to "/items/#{@item.id}/buy" do
        .item-buy-btn 購入画面に進む
      .item-description
        %p.item-description__inner
          = @item.comment
      .item-button-container
        .item-button-left
          %button{type: "button", name: "like!", class: "item-button"}
            %i.far.fa-heart
            %span.fade-in-down いいね!
            %span.fade-in-down 7
          = link_to "", class: "item-button__report" do
            %i.far.fa-flag
            不適切な商品の報告
        .item-button-right
          = link_to 'https://www.mercari.com/jp/safe/description/', target: "_blank", class: "safe-description" do
            %i.fas.fa-lock.clock-font
            あんしん・あんぜんへの取り組み
    .parent-own-item-container
      = link_to "商品の編集", edit_item_path(current_user.id, @item), class: "parent-own-item-container__edit"
    .parent-own-item-container__or
      or
    - if current_user == @item.user_id
      = link_to "出品を再開する", "#", class: "parent-own-item-container__open"
    - else
      = link_to "出品を停止する", "#", class: "parent-own-item-container__close"
    %button.parent-own-item-container__delete-btn
      商品を削除する
    .item-detail-message
      .message-continer
        .message-content
          %ul.message-items
            %li.message-item
              .message-user
                %figure
                  .message-user-unknown
                    = image_tag("user-icon.svg")
              .message-body-continer
                %p.user-name-string
                  aaaa
                .message-body
                  .message-body__text 出品者がコメントを削除しました
                  .message-icons
                    .message-icon-left
                      %i.far.fa-clock
                      %span.days-ago 141日前
                    .message-icon-right
                      = link_to "" do
                        %i.far.fa-flag
            %li.message-item
              .message-user
                %figure
                  .message-user-unknown
                    = image_tag("user-icon.svg")
              .message-body-continer
                %p.user-name-string
                  aaaa
                .message-body
                  .message-body__text 出品者がコメントを削除しました
                  .message-icons
                    .message-icon-left
                      %i.far.fa-clock
                      %span.days-ago 141日前
                    .message-icon-right
                      = link_to "" do
                        %i.far.fa-flag
            %li.message-item
              .message-user
                %figure
                  .message-user-unknown
                    = image_tag("user-icon.svg")
              .message-body-continer
                %p.user-name-string
                  aaaa
                .message-body
                  .message-body__text 出品者がコメントを削除しました
                  .message-icons
                    .message-icon-left
                      %i.far.fa-clock
                      %span.days-ago 141日前
                    .message-icon-right
                      = link_to "" do
                        %i.far.fa-flag
            %li.message-item
              .message-user
                %figure.user-profile-image
                  = link_to image_tag("member_photo_noimage.png"), "/", class: "message-user-image"
              .message-body-continer
                %p.user-name-string
                  碇 シンジ
                .message-body
                  .message-body__text 出品者がコメントを削除しました
                  .message-icons
                    .message-icon-left
                      %i.far.fa-clock
                      %span.days-ago 141日前
                    .message-icon-right
                      = link_to "" do
                        %i.far.fa-flag

        .message-content
          %form{action: "https://www.mercari.com/jp/comment/add/", method: "POST", class: "message-form"}
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea{type: "text", name: "body", class: "textarea-default"}
            %buttton{type: "submit", class: "message-submit button-default"}
              %span.message-submit__button コメントする

    %ul.nav-item-link
      %li.nav-item-link-prev
        = link_to '/' do
          %i.fas.fa-chevron-left
            ディズニーチケット
      %li.nav-item-link-next
        = link_to '/' do
          ハリーウィンストン 時計
          %i.fa.fa-chevron-right

    .item-social-media-box
      .text-center
      %ul.social-media-box
        %li
          = link_to "", target: "_blank", class: "share-btn" do
            %i.fab.fa-facebook-square
        %li
          = link_to "", target: "_blank", class: "share-btn" do
            %i.fab.fa-twitter
        %li
          = link_to "", target: "_blank", class: "share-btn" do
            %i.fab.fa-line
        %li
          = link_to "", target: "_blank", class: "share-btn" do
            %i.fab.fa-pinterest


    .items-in-user-profile
      %section.items-box-continer
        = link_to "/" do
          %h3.items-box-head
            #{@item.name}さんのその他の商品
        .item-box-content
          %section
            .pickup-box__items
              = render @janel
            .pickup-box__view-all
        = link_to "/" do
          %h3.items-box-head
            #{@item.category.parent.name} の
            #{@item.category.parent.parent.name} その他の商品
        .item-box-content
          %section
            .pickup-box__items
              = render @janel
            .pickup-box__view-all

  = render "layouts/aside"
  = render "layouts/footer"
