- content_for :head do
  %meta{name: "turbolinks-cache-control", content: "no-cache"}
.container
  = render "layouts/header"
  .main-background
    %section.item-box-container
      %h1
        .item-name
          = @item.name
      .item-main-content
        .item-photo
          .slider
            - @item.item_images.each do |item_image|
              .slider__item
                = image_tag item_image.image.url
          .thumbnail
            - @item.item_images.each.with_index do |item_image, index|
              - if index == 0
                .thumbnail__item.current{"data-index": index}
                  .thumbnail__item__box
                    = image_tag item_image.image.url
              - else
                .thumbnail__item{"data-index": index}
                  .thumbnail__item__box
                    = image_tag item_image.image.url
            - if @item.item_images.length > 5
              - for i in 1..(10 - @item.item_images.length)
                .thumbnail__dummy
        %table.item-detail-table
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "#{@item.user.user_profile.nickname}", "/", class: "user-name-string";
                .item-user-ratings
                  .item-user-rating
                    %i.fas.fa-laugh
                    %span 0
                  .item-user-rating
                    %i.fas.fa-meh
                    %span 0
                  .item-user-rating
                    %i.fas.fa-frown
                    %span 0
            %tr
              %th カテゴリー
              %td
                - if !@item.category.parent_id
                  = link_to "/" do
                    .item-detail-table-sub
                      = @item.category.name
                - elsif !@item.category.parent.parent_id
                  = link_to "/" do
                    .item-detail-table-sub
                      = @item.category.parent.name
                  = link_to "/" do
                    .item-detail-table-sub__sub
                      %i.fas.fa-angle-right
                      = @item.category.name
                - else
                  = link_to "/" do
                    .item-detail-table-sub
                      = @item.category.parent.parent.name
                  = link_to "/" do
                    .item-detail-table-sub__sub
                      %i.fas.fa-angle-right
                      = @item.category.parent.name
                  = link_to "/" do
                    .item-detail-table-sub__sub__sub
                      %i.fas.fa-angle-right
                      = @item.category.name
            %tr
              %th ブランド
              %td
                = link_to "/" do
                  .brand-name
                    - if @item.brand_id.present?
                      = @item.brand.name
                    - else
                      .no-name
            %tr
              %th 商品の状態
              %td
                .item-detail
                  = @item.condition
            %tr
              %th 配送料の負担
              %td
                .item-detail
                  = @item.shipping_fee
            %tr
              %th 配送の方法
              %td
                .item-detail らくらくメルカリ便
            %tr
              %th 発送元地域
              %td
                .item-detail.prefecture-name
                  = @item.prefecture.name
            %tr
              %th 配送日の目安
              %td
                .item-detail
                  = @item.days_to_ship

      .item-price-box
        %span.item-price
          ¥ #{@item.price}
        %span.item-tax (税込)
        %span.item-shipping-fee
          - if @item.shipping_fee=="送料込み(出品者負担)"
            送料込み
          - else
            着払い

      = link_to "/items/#{@item.id}/buy" do
        .item-buy-btn 購入画面に進む
      .item-description
        %p.item-description__inner
          = @item.comment
      .item-button-container
        .item-button-left
          %button{type: "button", name: "like!", class: "item-button"}
            %i.far.fa-heart
            %span.fade-in-down いいね!
            %span.fade-in-down 7
          = link_to "", class: "item-button__report" do
            %i.far.fa-flag
            不適切な商品の報告
        .item-button-right
          = link_to 'https://www.mercari.com/jp/safe/description/', target: "_blank", class: "safe-description" do
            %i.fas.fa-lock.clock-font
            あんしん・あんぜんへの取り組み
    - if user_signed_in? && current_user.id == @item.user_id
      .parent-own-item-container
        = link_to "商品の編集", edit_item_path(@item), class: "parent-own-item-container__edit"
        .parent-own-item-container__or
          or
        - unless @item.sales_condition == 0
          = link_to "出品を停止する", "#", class: "parent-own-item-container__close"
        - else
          = link_to "出品を再開する", "#", class: "parent-own-item-container__open"
        = link_to "商品を削除する", "/items/#{@item.id}", method: :delete, class: "parent-own-item-container__delete-btn"

    .item-detail-message
      .message-continer
        .message-content
          %ul.message-items
            %li.message-item
              .message-user
                %figure
                  .message-user-unknown
                    = image_tag("user-icon.svg")
              .message-body-continer
                %p.user-name-string
                  aaaa
                  - @comments.each do |comment|
                    .message-body
                      %p
                      = comment.content
                      .message-body__text
                      .message-icons
                        .message-icon-left
                          %i.far.fa-clock
                          %span.days-ago 141日前
                        .message-icon-right
                          = link_to "" do
                            %i.far.fa-flag

        .message-content
          = form_for @comment, url: item_comments_path(@item), html: {class: "message-form"} do |f|
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.text_area :content, class: "textarea-default"
            = f.submit "コメントする", class: "message-submit button-default"
    .item-social-media-box
      .text-center
      %ul.social-media-box
        %li
          = link_to "#", target: "_blank", class: "share-btn" do
            %i.fab.fa-facebook-square
        %li
          = link_to "#", target: "_blank", class: "share-btn" do
            %i.fab.fa-twitter
        %li
          = link_to "#", target: "_blank", class: "share-btn" do
            %i.fab.fa-line
        %li
          = link_to "#", target: "_blank", class: "share-btn" do
            %i.fab.fa-pinterest
  = render "layouts/aside"
  = render "layouts/footer"
