= render "layouts/header"
.brand
  .brand__container
    %h1 #{@category.name}の商品一覧
    .brand__container__item
      = render @items
= render "layouts/aside"
= render "layouts/footer"
= render "layouts/sell-button
