= render "layouts/header"
.category
  .category__container
    %h1 #{@category.name}の商品一覧
    .category__container__item
      = render @items
= render "layouts/aside"
= render "layouts/footer"
= render "layouts/sell-button"
