.footer
  %ul.footer__navigation
    %li.footer__navigation__item
      %h2 メルカリについて
      %ul
        %li
          = link_to "会社概要（運営会社）"
        %li
          = link_to "プライバシーポリシー"
        %li
          = link_to "メルカリ利用規約"
        %li
          = link_to "有償ポイントに関する特約"
        %li
          = link_to "あんしんスマホサポート制度に関する利用特約"
        %li
          = link_to "コンプライアンスポリシー"
        %li
          = link_to "個人データの安全管理に係る基本方針"
        %li
          = link_to "特定商取引に関する表記"
        %li
          = link_to "資金決済法に基づく表示"
        %li
          = link_to "法令遵守と犯罪防止のために"
        %li
          = link_to "採用情報"
    %li.footer__navigation__item
      %h2 メルカリを見る
      %ul
        %li
          = link_to "カテゴリー一覧"
        %li
          = link_to "ブランド一覧"
        %li
          = link_to "出品地域一覧"
        %li
          = link_to "公式ブログ"  
        %li
          = link_to "公式Twitter"
        %li
          = link_to "公式Face" 
    %li.footer__navigation__item
      %h2 ヘルプ&ガイド
      %ul
        %li
          = link_to "メルカリガイド"
        %li
          = link_to "メルカリロゴ利用ガイドライン"
        %li
          = link_to "お知らせ"
        %li
          = link_to "らくらくメルカリ便とは" 
        %li
          = link_to "ゆうゆうメルカリ便とは"
        %li
          = link_to "大型らくらくメルカリ便とは" 
        %li
          = link_to "車体取引ガイド"
        %li
          = link_to "返品・返金ポリシー"
        %li
          = link_to "メルカリあんしん・あんぜん宣言！"
        %li
          = link_to "偽ブランド撲滅への取り組み"               
        %li
          = link_to "メルカリボックス"   
    %li.footer__navigation__item
      %h2 国
      %ul
        %li
          = link_to "United States"
        %li
          = link_to "United Kingdom"
        %li
          = link_to "日本"
  .footer__logo
    = image_tag "logo-white.svg"
  .footer__copyright
    %p © 2019 Mercari
