.header
  .header__container
    .header__container__search
      = link_to image_tag("logo.svg"), root_path, class: "header__container__search__logo"
      = form_with local: true, class: "header__container__search__form" do |f|
        = f.text_field :keyword, class: "header__container__search__form__input", type: "search", name: "keyword", placeholder: "キーワードから探す"
    .header__container__navigation.navigation
      .navigation__left
        = link_to "カテゴリーから探す"
        = link_to "ブランドから探す"
      .navigation__right
        - if user_signed_in?
          = link_to "マイページ", "/", class: "navigation__right__mypage"
          = link_to "お知らせ", "/", class: "navigation__right__note"
          = link_to "やることリスト", destroy_user_session_path, method: :delete, class: "navigation__right__todo"
        - else
          = link_to "ログイン", new_user_session_path, class: "btn btn-nav btn-login btn-red"
          = link_to "新規会員登録", new_user_registration_path, class: "btn btn-nav btn-reg"
