.header
  .header__container
    .header__container__search
      = image_tag "logo.svg", class: "logo__search"
      = form_with local: true, class: "header__container__search__form" do |f|
        = f.text_field :keyword, class: "header__container__search__form__input", type: "search", name: "keyword", placeholder: "キーワードから探す"
    .header__container__navigation.navigation
      .navigation__left
        = link_to "カテゴリーから探す"
        = link_to "ブランドから探す"
      .navigation__right
        = link_to "マイページ"
        = link_to "お知らせ"
        = link_to "やることリスト"
