.header
  .header__container
    .header__container__search
      = link_to image_tag("logo.svg"), root_path, class: "header__container__search__logo"
      = form_tag search_items_path, method: :get, class: "header__container__search__form" do
        = text_field_tag :keyword, "", class: "header__container__search__form__input", placeholder: "キーワードから探す"
        = button_tag type: "submit",class: "header__container__search__form__button" do
          %i.fas.fa-search
    .header__container__navigation.navigation
      .navigation__left
        .navigation__left__category
          = link_to "カテゴリーから探す"
          .navigation__left__category__menu
            = render "items/category-menu"
        .navigation__left__brand
          = link_to "ブランドから探す"
          .navigation__left__brand__menu
            = render "items/brand-menu"
      .navigation__right
        - if user_signed_in?
          = link_to "マイページ", users_path, class: "navigation__right__mypage"
          .navigation__right__note
            = link_to "お知らせ", "#"
            .navigation__right__note__list
              = render "layouts/note-list"
          .navigation__right__todo
            = link_to "やることリスト", "#", method: :delete
            .navigation__right__todo__list
              = render "layouts/todo-list"
        - else
          = link_to "ログイン", new_user_session_path, class: "btn btn-nav btn-login btn-red"
          = link_to "新規会員登録", new_user_registration_path, class: "btn btn-nav btn-reg"

  //パンくず
.pankuzu
  = breadcrumbs separator: " &rsaquo; "


