!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{name: "google-site-verification", content:"_OtcbthOyTMQF1lBuCfKK0RSNGb821aG312-Acs_JhY"}
    -if content_for?(:head)
      = yield(:head)
    %title FreemarketSample46a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = yield




